.btnDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .15rem;
    border-radius: 100%;
    background-color: transparent;
    font-size: var(--h5);
    cursor: pointer;
}

#dropdownMultiplicacao {
    border: 2px solid var(--red);
}

#multiplicacoes i {
    color: var(--red);
}

#dropdownExpoente {
    border: 2px solid var(--yellow);
}

#exponenciacoes i {
    color: var(--yellow);
}

#dropdownImparPar {
    border: 2px solid var(--orange);
}

#imparPar i {
    color: var(--orange);
}

#dropdownBhaskara {
    border: 2px solid var(--green);
}

#bhaskara i {
    color: var(--green);
}

#dropdownMediaAritmetica {
    border: 2px solid var(--aqua);
}

#mediaAritmetica i {
    color: var(--aqua);
}
