input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input {
    text-align: center;
    border: none;
    background-color: var(--bg2);
    font-size: var(--p);
}

input::placeholder {
    color: var(--fg4);
}

article .inputContainer input {
    padding: .5rem;
    border: 2px solid transparent;
    border-radius: .5rem;
    background-color: var(--bg2);
    transition: ease-in-out .2s ;
}

article .operacoes input {
    padding: .25rem;
    border-radius: .5rem;
    border: 2px solid var(--bg2);
    background-color: transparent;
}

#multiplicacoes .inputContainer input:focus {
    border: 2px solid var(--red);
    background-color: transparent;
}

#exponenciacoes .inputContainer input:focus {
    border: 2px solid var(--yellow);
    background-color: transparent;
}
